In [10]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pprint import pprint

In [11]:
df = pd.read_csv('./landsend_veg_2007_2012.csv')
print df.shape

(3592, 9)

### columns:

**Site-YearCode, Transect, Point, Height , Species, Plant code, Native Status, Life History, Stature**

In [23]:
from define_column import define_column

In [33]:
define_column('Stature')

In other studies this grouping has been called “guild.”

In this study the choices are forb*, grass, rush/sedge, shrub, or tree.

*A forb is a soft-bodied plant that does not make a woody stem.

In [27]:
df['Site'] = df['Site-YearCode'].apply(lambda x: x.split('-')[0])
df['Year'] = df['Site-YearCode'].apply(lambda x: int(x.split('-')[1]))

In [28]:
df.head()

,Site-YearCode,Transect,Point,Height,Species,Plant code,Native Status,Life History,Stature,Site,Year
0,NUWO-2012,5,90,Low,-,-,-,-,-,NUWO,2012
1,NUWO-2012,13,150,Low,-,-,-,-,-,NUWO,2012
2,NMS-2010,8,20,Low,Achillea millefolium,ACMI,Native,Perennial,Forb,NMS,2010
3,NMS-2010,24,4,Low,Achillea millefolium,ACMI,Native,Perennial,Forb,NMS,2010
4,NMS-2010,48,16,Low,Achillea millefolium,ACMI,Native,Perennial,Forb,NMS,2010

<img src='https://dl.dropboxusercontent.com/u/39642509/veg_monitor.jpg' width=800px>

<img src='https://dl.dropboxusercontent.com/u/39642509/veg_monitor_2.jpg' width='800px'>

In [15]:
print 'total rows:', len(df)
print '\n# null values: '
print df.isnull().sum()
print '\n% null values:'
print df.isnull().sum()/len(df)*100

total rows: 3592

# null values:
Site-YearCode       0
Transect            0
Point               1
Height              0
Species             0
Plant code       1019
Native Status    1621
Life History     1791
Stature          1791
dtype: int64

% null values:
Site-YearCode     0.000000
Transect          0.000000
Point             0.027840
Height            0.000000
Species           0.000000
Plant code       28.368597
Native Status    45.128062
Life History     49.860802
Stature          49.860802
dtype: float64


Exotic plant cover to 15%
Maintain >75% cover in native dune scrub and coastal scrub vegetation

Ideal Scrub Mix:


"Ericameria ericoides
15%
Armeria maritima
11%
Poa douglasii
11%
Castilleja affinis
10%
Artemisia pycnocephala
6%
Dudleya farinosa
5%
Erigeron glaucus
5%
Eriogonum latifolium
5%
Eriophyllum staechadifolium
5%
Fragaria chiloensis
5%
Lotus scoparius
5%
Lupinus chamissonis
5%
Polygonum paronychia
5%
Tanacetum camphoratum 
5%
Baccharis pilularis
1%
Camissonia cheiranthifolia
1%"

In [39]:
with open('ideal_mix.txt') as infile:
    stuff = infile.readlines()
    species = [spec.strip() for spec in stuff[::2]]
    percents = [float(perc.strip().replace('%',''))/100 for perc in stuff[1::2]]
    # print species
    # print percents
    
ideal_mix = dict(zip(species,percents))
print ideal_mix

{'Artemisia pycnocephala': 0.06, 'Fragaria chiloensis': 0.05, 'Lupinus chamissonis': 0.05, 'Dudleya farinosa': 0.05, 'Poa douglasii': 0.11, 'Eriophyllum staechadifolium': 0.05, 'Armeria maritima': 0.11, 'Polygonum paronychia': 0.05, 'Tanacetum camphoratum': 0.05, 'Castilleja affinis': 0.1, 'Lotus scoparius': 0.05, 'Baccharis pilularis': 0.01, 'Eriogonum latifolium': 0.05, 'Ericameria ericoides': 0.15, 'Erigeron glaucus': 0.05}

In [42]:
import json

with open('ideal_mix.json','w') as outfile:
    json.dump(ideal_mix,outfile)